@page "/home"
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject NavigationManager NavMan
@inject UserManager<User> MDBUser
@inject IMongoRepository<Campaign> MDBCampagin

@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Home</PageTitle>

<h1>Your Campagins</h1>
<br />

@if (user == null)
{
    <h3>Please Sign in to view Campagins</h3>
}
else if (campaigns.Count == 0)
{
    <h3>Go Ye, Have A New Adventure!</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th aria-label=""></th>
                <th aria-label=""></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Campaign campaign in campaigns)
            {
                <tr>
                    <td>@campaign.Name</td>
                    <td><button class="btn btn-primary" style="float:right;background-color:black" @onclick="() => viewCampagin(campaign)">View Campagin</button></td>
                    <td><button class="btn btn-primary" style="float:right;background-color:red" @onclick="() => deleteCampagin(campaign)">Delete</button></td>
                </tr>
            }
        </tbody>

    </table>
}
@if (user != null)
{
    <button class="btn btn-primary" style="float:right; background-color:black; margin:40px" @onclick="() => createCampagin()">Create Campagin</button>
}


@code
{
    //[Parameter]
    //public string? AccountId { get; set; } = null;
    User? user;
    public List<Campaign> campaigns = new List<Campaign>();


    protected override async Task OnInitializedAsync()
    {
        // AccountId = MDBUser.GetUserId();
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var claimsUser = authState.User;

        user = await MDBUser.GetUserAsync(claimsUser);
        if(user != null)
        {
            foreach(string campaignId in user.Campaigns)
            {
                Campaign campaign = await MDBCampagin.GetByIdAsync(campaignId);
                campaigns.Add(campaign);
            }
        }

        
    }

    public void deleteCampagin(Campaign campaign)
    {
        user.Campaigns.Remove(campaign.Id);
        //campaigns.Remove(campaign);
    }
    public void createCampagin()
    {
        NavMan.NavigateTo($"/createcampagin");
    }
    public void viewCampagin(Campaign campaign)
    {
        NavMan.NavigateTo($"/campaignview/{campaign.Id}");
    }
}