@page "/signup"
@using System.ComponentModel.DataAnnotations
@using D_DNoteTaker.Components.Models.Login
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject NavigationManager NavManager

@attribute [StreamRendering]
@rendermode InteractiveServer

<h3>SignUp</h3>

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <p>@errorMessage</p>
}

<EditForm FormName="signup" OnValidSubmit="AddNewUser" Model="Input">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="username">Username: </label>
        <InputText id="username" @bind-Value="Input.Username" />
    </div>

    <div>
        <label for="password">Password: </label>
        <InputText id="password" type="password" @bind-Value="Input.Password" />
    </div>

    <div>
        <label for="password">Password: </label>
        <InputText id="password" type="password" @bind-Value="Input.ConfirmPassword" />
    </div>

    <div>
        <button type="submit">Register</button>
        <button type="button" @onclick="GoToLogIn">Log-In</button>
    </div>
</EditForm>

@code {
    private SignupModel Input = new();
    private string? errorMessage;

    private async Task AddNewUser()
    {
        var user = new User()
        {
            UserName = Input.Username,
            Campaigns = new List<string>()
        };

        var result = await UserManager.CreateAsync(user, Input.Password);

        if (result.Succeeded)
        {
            GoToLogIn();
        }
        else
        {
            errorMessage = result.Errors.FirstOrDefault()?.Description;
        }
    }

    private void GoToLogIn() => NavManager.NavigateTo("/");
}
