@using Microsoft.AspNetCore.Authorization
@using D_DNoteTaker.Components.Layout.Create
@attribute [Authorize]

@page "/region/{regionId}/{CampaignId}"
@rendermode InteractiveServer

@inject NavigationManager nav;

@inject IMongoRepository<Region> RegionDB;

@if(region == null)
{
	<p>Loading...</p>
}
else{
	<h3>@region.Name</h3>
	<h4>Locations</h4>
	@foreach(Location location in region.Locations){
		<button @onclick="() => ToLocation(location.Id)">@location.Name</button>
		<div></div>
	}
	if(region.Description != null){
		<h4>Description</h4>
		<p>@region.Description.Text</p>
	}

	<div>
		<NavLink href="@($"/newlocation/{CampaginId}/{RegionId}")">
			<h3>Add New Location</h3>
		</NavLink>
	</div>
	
}
@code {
	[Parameter]
	public string RegionId { 
		get; set; } = "";

	[Parameter]
	public string CampaginId { get; set; }

	private Region region;

	protected override async Task OnInitializedAsync()
	{
		region = await RegionDB.GetByIdAsync(RegionId);
	}

	public void ToLocation(string id)
	{
		nav.NavigateTo($"/location/{id}", true, true);
	}
}
