@page "/region/{RegionId}/{CampaignId}"
@using Microsoft.AspNetCore.Authorization
@using D_DNoteTaker.Components.Layout.Create
@inject IMongoRepository<Region> RegionDB;
@inject NavigationManager nav;
@attribute [Authorize]
@rendermode InteractiveServer

@if(region == null)
{
	<p>Loading...</p>
}
else{
	<h3>@region.Name</h3>

	<div>
		<NavLink href="@($"/newlocation/{CampaignId}/{RegionId}")">
			<h4>Add New Location</h4>
		</NavLink>
	</div>

	<h4>Locations</h4>
	@if (region.Locations != null)
	{
		@foreach (Location location in region.Locations)
		{
			<button @onclick="() => ToLocation(location.Id)">@location.Name</button>
			<div></div>
		}
	} else
	{
		<p>No Locations Found</p>
	}

	if(region.Description != null){
		<h4>Description</h4>
		<p>@region.Description.Text</p>
	}

	
	
}
@code {
	[Parameter]
	public string RegionId { 
		get; set; } = "";

	[Parameter]
	public string CampaignId { get; set; }

	private Region region;

	protected override async Task OnInitializedAsync()
	{
		region = await RegionDB.GetByIdAsync(RegionId);
	}

	public void ToLocation(string id)
	{
		nav.NavigateTo($"/location/{id}", true, true);
	}
}
