@page "/newsession/{CurrentCampaginId}"
@inject IMongoRepository<Sessions> MDBSessions
@inject IMongoRepository<NPCs> MDBNPCs
@inject IMongoRepository<Location> MDBLocations
@inject NavigationManager navMan
@rendermode InteractiveServer

<h3>Create Sessions</h3>

<EditForm OnValidSubmit="() => submit()" Model="currentSession">
    <label for="sessionNum">Session Number:</label>
    <InputNumber TValue="int" id="sessionNum" @bind-Value="currentSession.SessionNum" />

    <label for="Date">Session Date:</label>
    <InputDate TValue="DateOnly" @bind-Value="currentSession.DateOfSession" />

    <button type="submit" class="btn btn-primary">Create Session</button>
</EditForm>

@if (Locations != null && Locations.Count() > 0)
{
    <EditForm Model="selectedLocation" OnValidSubmit="() => addLocation(selectedLocation)">
        <InputSelect @bind-Value="selectedLocation">
        
            @foreach (Location location in Locations)
            {
                <option value="@location.Id">@location.Name</option>
            }
        </InputSelect>

        <button type="submit">Add Location</button>
    </EditForm>
}

@if (NPCs != null && NPCs.Count() > 0)
{
    <EditForm Model="selectedNPC" OnValidSubmit="() => addNPC(selectedNPC)">
        <InputSelect @bind-Value="selectedNPC">
            @foreach (NPCs npc in NPCs)
            {
                <option value="@npc.Id">@npc.Name</option>
            }
        </InputSelect>

        <button type="submit">Add NPC</button>
    </EditForm>
}

<CreateTextBox @ref="editTextBox" mainTitle="Session Title:" textTitle="Description:" />

@code
{
    [Parameter]
    public string CurrentCampaginId { get; set; }
    private Sessions currentSession = new Sessions();

    private string selectedLocation = "";
    private string selectedNPC = "";
    private CreateTextBox editTextBox;

    private List<NPCs> NPCs = new List<NPCs>();
    private List<Location> Locations = new List<Location>();

    private async Task submit()
    {
        currentSession.CampaginId = CurrentCampaginId;
        await MDBSessions.InsertOneAsync(currentSession);
        navMan.NavigateTo($"/campagin/{CurrentCampaginId}");
    }

    private void addTextBox(object? sender, TextBox textBox)
    {
        currentSession.Summary = textBox;
    }

    private async Task addLocation(string locationId)
    {
        if (locationId != null || locationId.IsWhiteSpace()) currentSession.Locations.Add(await MDBLocations.GetByIdAsync(locationId));
    }

    private async Task addNPC(string NPC)
    {
        if (NPC != null || !NPC.IsWhiteSpace()) currentSession.NPCs.Add(await MDBNPCs.GetByIdAsync(NPC));
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (editTextBox != null)
            {
                editTextBox.EventBox += addTextBox;
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        List<NPCs> allNPCs = await MDBNPCs.GetAllAsync();
        NPCs = allNPCs.FindAll(npc => npc.CampaginId == CurrentCampaginId);

        List<Location> allLocations = await MDBLocations.GetAllAsync();
        Locations = allLocations.FindAll(location => location.CampaginId == CurrentCampaginId);
    }

}
