@page "/newnpc/{CurrentCampaginId}"
@inject IMongoRepository<NPCs> MDBNPCs
<h3>CreateNPC</h3>

<EditForm OnValidSubmit="() => submit()" Model="currentNPC">
    <label for="name">Name: </label>
    <InputText id="name" @bind-Value="currentNPC.Name"/>

    <br/>
    <label for="Gender">Gender: </label>
    <InputText id="Gender" @bind-Value="currentNPC.Gender" />

    <br/>
    <label for="aids">Aids? </label>
    <InputCheckbox id="aids" @bind-Value="currentNPC.HasAids" />

    <br/>
    <label for="age">Age: </label>
    <InputNumber TValue="int" id="age" @bind-Value="currentNPC.Age" />

    <br/>
    <label for="job">Job: </label>
    <InputText id="job" @bind-Value="currentNPC.JobType" />

    <br/>
    <label for="languages">Languages: </label>
    <InputText id="languages" @bind-Value="currentNPC.Languages" />

<button type="submit" class="btn btn-primary">Create NPC</button>
</EditForm>

<CreateTextBox @ref="editTextBox" textTitle="Description:" hideMainTitle="true"/>


@code 
{
    [Parameter]
    public string CurrentCampaginId { get; set; }

    private NPCs currentNPC = new NPCs();
    private CreateTextBox editTextBox;

    private async Task submit()
    {
        currentNPC.campaginId = CurrentCampaginId;
        await MDBNPCs.InsertOneAsync(currentNPC);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && editTextBox != null)
        {
            editTextBox.EventBox += addTextBox;
        }
    }

    private void addTextBox(object? sender, TextBox textBox)
    {
        currentNPC.Description = textBox;
    }
}
