@inject IMongoRepository<Sessions> MDBSessions
<h3>CreateSessions</h3>

<EditForm OnValidSubmit="() => submit()" Model="currentSession">
    <label for="sessionNum">Session Number:</label>
    <InputNumber TValue="int" id="sessionNum" @bind-Value="currentSession.SessionNum" />

    <label for="Date">Session Date:</label>
    <InputDate TValue="DateOnly" @bind-Value="currentSession.DateOfSession" />

    <button type="submit" class="btn btn-primary">Create Session</button>
</EditForm>

@if (currentSession.Locations != null && currentSession.Locations.Count() > 0)
{
    <EditForm Model="selectedLocation" OnValidSubmit="() => addLocation(selectedLocation)">
        <InputSelect TValue="Location" @bind-Value="selectedLocation">
        
            @foreach (Location location in currentSession.Locations)
            {
                <option value="@location">@location.Name</option>
            }
        </InputSelect>

        <button type="submit">Add Location</button>
    </EditForm>
}

@if (currentSession.NPCs != null && currentSession.NPCs.Count() > 0)
{
    <EditForm Model="selectedNPC" OnValidSubmit="() => addNPC(selectedNPC)">
        <InputSelect TValue="NPCs" @bind-Value="selectedNPC">
            @foreach (NPCs npc in currentSession.NPCs)
            {
                <option value="@npc">@npc.Name</option>
            }
        </InputSelect>

        <button type="submit">Add NPC</button>
    </EditForm>
}

<CreateTextBox @ref="editTextBox" mainTitle="Session Title:" textTitle="Description:" />

@code
{
    private Sessions currentSession = new Sessions();

    private Location selectedLocation = new Location();
    private NPCs selectedNPC = new NPCs();
    private CreateTextBox editTextBox;

    public event EventHandler<Sessions> eventSession;

    private async Task submit()
    {
        eventSession?.Invoke(this, currentSession);
        await MDBSessions.InsertOneAsync(currentSession);
    }
    private void addTextBox(object? sender, TextBox textBox)
    {
        currentSession.Summary = textBox;
    }
    private void addLocation(Location location)
    {
        if (location != null) currentSession.Locations.Append(location);

    }
    private void addNPC(NPCs NPC)
    {
        if (NPC != null) currentSession.NPCs.Append(NPC);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (editTextBox != null)
            {
                editTextBox.EventBox += addTextBox;
            }
        }

    }

}
