<EditForm FormName="NewEdit" OnValidSubmit="() => submit()" Model="textBox">
    @if (!hideMainTitle)
    {
        <label for="Title">@mainTitle</label>
        <InputText id="Title" @bind-Value="textBox.Name" />
        <br />
    }

    <label for="text">@textTitle</label>
    <InputTextArea  id="text" @bind-Value="textBox.Text"/>

    <button type="submit" class="btn btn-primary">Create Textbox</button>
</EditForm>

@code 
{
    [Parameter]
    public string mainTitle { get; set; } = "";

    [Parameter]
    public string textTitle { get; set; } = "";

    [Parameter]
    public bool hideMainTitle { get; set; } = false;

    public event EventHandler<TextBox>? EventBox;

    TextBox textBox = new TextBox();

    private void submit()
    {
        EventBox?.Invoke(this, textBox);
    }
}
