@page "/newlocation/{CurrentCampaginId}/{CurrentRegionId}"
@using D_DNoteTaker.Components.Models
@inject IMongoRepository<Location> MDBLocation
@inject IMongoRepository<Region> MDBRegion
@inject NavigationManager navMan
@rendermode InteractiveServer

<h3>Create Location</h3>

<EditForm OnValidSubmit="submit" Model="@location">
    <label for="name">Location Name:</label>
    <InputText id="name" @bind-Value="location.Name"/>
    <br/>

    <label for="environment">Type of Environment: </label>
    <InputText id="environment" @bind-Value="location.Environment"/>
    <br />

    <label for="climate">Climate: </label>
    <InputText id="climate" @bind-Value="location.Climate"/>
    <br />

    <label for="population">Population: </label>
    <InputNumber id="populaion" TValue="float?" @bind-Value="location.Population"/>
    <br />

    <button type="submit"  class="btn btn-primary">Add Location</button>
</EditForm>

<hr/>
<EditForm OnValidSubmit="addPOI" Model="newPOI">
    <label for="poi">Points of Intrest</label>
    <InputText id="poi" @bind-Value="newPOI" />
    
    <button type="submit" @onclick="() => addPOI()" class="btn btn-primary">Add POI</button>
</EditForm>

<hr />
<CreateTextBox @ref="editTextBox" hideMainTitle="true" textTitle="Location Description:"/>

@code 
{
    [Parameter]
    public string CurrentRegionId { get; set; }
    [Parameter]
    public string CurrentCampaginId { get; set; }

    CreateTextBox? editTextBox;
    Location location = new Location();
    string newPOI = "";

    async Task submit()
    {
        Region currentRegion = await MDBRegion.GetByIdAsync(CurrentRegionId);
        if(currentRegion != null)
        {
            currentRegion.Locations ??= new List<Location>();
            currentRegion.Locations.Add(location);
        }
        location.RegionId = CurrentRegionId;
        location.CampaginId = CurrentCampaginId;
        await MDBLocation.InsertOneAsync(location);
        await MDBRegion.ReplaceOneAsync(currentRegion);
        navMan.NavigateTo($"/region/{CurrentRegionId}/{CurrentCampaginId}");
    }

    private void addTextBox(object? sender, TextBox textBox)
    {
        location.Description = textBox;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && editTextBox != null)
        {
            editTextBox.EventBox += addTextBox;
        }
    }

    void addPOI()
    {
        location.POIs.Add(newPOI);
    }
}
