@page "/createcampagin/{UserId}"
@using D_DNoteTaker.Components.Models
@inject IMongoRepository<Campaign> MDBCampagin
@* @inject IMongoRepository<User> MDBUser *@
@attribute [StreamRendering]
@rendermode InteractiveServer


<h3>Create Campagin</h3>

<PageTitle>Create Capagin</PageTitle>

@* <EditForm OnValidSubmit="() => submit()" Model="@currentCampagin">
    <label id="name">Title: </label>
    <InputText id="name" @bind-Value="currentCampagin.Name"/>
    <hr />

</EditForm> *@

@* <EditForm FormName="AddDM" OnValidSubmit="() => addPlayer(AddPerson)" Model="AddPerson">
    <label id="dmName">Deungeon Master Username:</label>
    <InputText id="dmName" @bind-Value="AddPerson" />

    <button type="submit" class="btn btn-primary">Add DM</button>
</EditForm>

<EditForm FormName="AddPlayer" OnValidSubmit="() => addPlayer(AddPerson)" Model="AddPerson">
    <label id="playerName">Player Username:</label>
    <InputText id="playerName" @bind-Value="AddPerson" />

    <button type="submit" class="btn btn-primary">Add Player</button>
</EditForm> *@

@if(nameNotFound == null)
{
    <p style="color:red">Could Not Find: @nameNotFound</p>
}
<hr />
<CreateTextBox textTitle="Notes"/>
<hr />

@code 
{
    [Parameter]
    public string UserId { get; set; }

    Campaign currentCampagin = new Campaign();
    TextBox textBox = new TextBox();
    CreateTextBox textEditor;
    string AddPerson = "";
    string nameNotFound = "";

    // async Task submit()
    // {
    //     await addDM(UserId);
    //     await MDBCampagin.InsertOneAsync(currentCampagin);
    // }

    // async Task addPlayer(string s)
    // {
    //     User user = await MDBUser.GetByIdAsync(s);
    //     if (currentCampagin.Player.FirstOrDefault(u => u == s) != null && user != null)
    //     {
    //         currentCampagin.DM.Add(s);
    //     }
    // }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && textEditor != null)
        {
            textEditor.EventBox += addTextBox;
        }
    }

    // async Task addDM(string s)
    // {
    //     User user = await MDBUser.GetByIdAsync(s);
    //     if (currentCampagin.DM.FirstOrDefault(u => u == s) != null && user != null)
    //     {
    //         currentCampagin.DM.Add(s);
    //     }
    // }

    void addTextBox(object? sender, TextBox textBox)
    {
        currentCampagin.Boxes.Add(textBox);
    }
    void NotFound(List<string> notFound)
    {}
}
