@using D_DNoteTaker.Components.Models
@using D_DNoteTaker.Data.Interfaces
@inject IMongoRepository<Worldbuilding> MDBWorldBuilding
@attribute [StreamRendering]
@rendermode InteractiveServer

<h3>Create World</h3>

<EditForm OnValidSubmit="() => submit()" Model="currentWorldbuilding">
    <label id="Name">World Name:</label>
    <InputText id="Name" @bind-Value="currentWorldbuilding.Name" />
    
<button class="btn btn-primary">Create World</button>
</EditForm>

<CreateRegion @ref="editRegion"/>

<CreateTextBox @ref="textEditor" textTitle="Describe Event:" />



@code
{
    public event EventHandler<Worldbuilding>? worldBuildEvent;

    Worldbuilding currentWorldbuilding = new Worldbuilding();

    CreateTextBox textEditor;
    CreateRegion editRegion;


    async Task submit()
    {
        worldBuildEvent.Invoke(this, currentWorldbuilding);
        //await MDBWorldBuilding.InsertOneAsync(currentWorldbuilding);
    }
    private void addTextBox(object? sender, TextBox textBox)
    {
        currentWorldbuilding.History = textBox;
    }
    private void addRegion(object? sender, Region region)
    {
        currentWorldbuilding.Regions.Add(region);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && textEditor != null)
        {
            textEditor.EventBox += addTextBox;
        }
        if (firstRender && editRegion != null)
        {
            editRegion.EventRegion += addRegion;
        }
    }
}
