<h3>CreateSessions</h3>

<EditForm OnValidSubmit="() => submit()" Model="currentSession">
    <label for="sessionNum">Session Number:</label>
    <InputNumber TValue="int" id="sessionNum" @bind-Value="currentSession.SessionNum" />

    <label for="Date">Session Date:</label>
    <InputDate TValue="DateOnly" @bind-Value="currentSession.DateOfSession" />

    <button type="submit" class="btn btn-primary">Create Session</button>
</EditForm>

@if (currentSession.Locations != null)
{
    <EditForm Model="selectedLocation" OnValidSubmit="() => addLocation(selectedLocation)">
        <InputSelect TValue="Location" @bind-Value="selectedLocation">
        
            @foreach (Location location in currentSession.Locations)
            {
                <option value="@location">@location.Name</option>
            }
        </InputSelect>

        <button type="submit">Add Location</button>
    </EditForm>
}

<CreateNPC @ref="editNPC" />
<CreateTextBox @ref="editTextBox" mainTitle="Session Title:" textTitle="Description:" />

@code
{
    private Sessions currentSession = new Sessions();

    private Location selectedLocation;
    private CreateNPC editNPC;
    private CreateTextBox editTextBox;

    public event EventHandler<Sessions> eventSession;

    private void submit()
    {
        eventSession.Invoke(this, currentSession);
    }
    private void addTextBox(object? sender, TextBox textBox)
    {
        currentSession.Summary = textBox;
    }
    private void addLocation(Location location)
    {
        currentSession.Locations.Append(location);
    }
    private void addNPC(object? sender, NPCs NPC)
    {
        currentSession.NPCs.Add(NPC);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (editTextBox != null)
            {
                editTextBox.EventBox += addTextBox;
            }
            if (editNPC != null)
            {
                editNPC.EventNPC += addNPC;
            }
        }

    }

}
