@page "/createcampagin"
@using D_DNoteTaker.Components.Models
@using Microsoft.AspNetCore.Identity
@inject IMongoRepository<Campaign> MDBCampagin
@inject UserManager<User> MDBUser
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject NavigationManager NavMan

@using Microsoft.AspNetCore.Components.Authorization
@using MongoDB.Bson
@inject AuthenticationStateProvider AuthStateProvider


<h3>Create Campagin</h3>

<PageTitle>Create Campaign</PageTitle>

<EditForm OnValidSubmit="() => submit()" Model="@currentCampagin">
    <label id="name">Title: </label>
    <InputText id="name" @bind-Value="currentCampagin.Name"/>

    <button type="submit" class="btn btn-primary" style="background-color:black">Create Campagin</button>
    <hr />

</EditForm>

<EditForm FormName="AddDM" OnValidSubmit="() => addDM(AddPerson)" Model="AddPerson">
    <label id="dmName">Deungeon Master Username:</label>
    <InputText id="dmName" @bind-Value="AddPerson" />

    <button type="submit" class="btn btn-primary" style="background-color:black">Add DM</button>
</EditForm>

<EditForm FormName="AddPlayer" OnValidSubmit="() => addPlayer(AddPerson)" Model="AddPerson">
    <label id="playerName">Player Username:</label>
    <InputText id="playerName" @bind-Value="AddPerson" />

    <button type="submit" class="btn btn-primary" style="background-color:black">Add Player</button>
</EditForm>

<CreateTextBox @ref="textEditor" textTitle="Campaign Summary:" hideMainTitle="true" />

<hr/>
<CreateWorldBuilding @ref="worldBuilding" />

@* <CreateSessions @ref="sessionEditor" /> *@
<hr />

@if(nameNotFound == null)
{
    <p style="color:red">Could Not Find: @nameNotFound</p>
}

@code 
{

    Campaign currentCampagin = new Campaign();
    TextBox textBox = new TextBox(); 
    CreateTextBox textEditor;
    string AddPerson = "";
    string nameNotFound = "";
    User? user;
    CreateSessions sessionEditor;

    CreateWorldBuilding worldBuilding;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var claimsUser = authState.User;

        user = await MDBUser.GetUserAsync(claimsUser);
    }

    async Task submit()
    {
        await addDM(user.UserName);
        Campaign newCampaign = new Campaign()
            {
                Boxes = currentCampagin.Boxes,
                DM = currentCampagin.DM,
                Player = currentCampagin.Player,
                Name = currentCampagin.Name,
                WorldbuildingId = currentCampagin.WorldbuildingId
            };
        user.Campaigns = user.Campaigns.Append(newCampaign.Id).ToList();
        await MDBUser.UpdateAsync(user);
        await MDBCampagin.InsertOneAsync(newCampaign);
        NavMan.NavigateTo($"/campagin/{newCampaign.Id}");
    }

    async Task addPlayer(string s)
    {

        List<User> users = MDBUser.Users.ToList();
        User? friend = users.FirstOrDefault(u => u.UserName == s);
        if (friend != null)
        {
            currentCampagin.DM.Add(friend.Id.ToString());
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender )
        {
            if (textEditor != null)
            {
                textEditor.EventBox += addTextBox;
            }
            if (worldBuilding != null)
            {
                worldBuilding.worldBuildEvent += addWorldBuilding;
            }
            if(sessionEditor != null)
            {
                sessionEditor.eventSession += AddSession;
            }
        }
    }

    async Task addDM(string s)
    {

        List<User> users = MDBUser.Users.ToList();
        User? friend = users.FirstOrDefault(u => u.UserName == s);
        if (friend != null)
        {
            currentCampagin.DM.Add(friend.Id.ToString());
        }
    }

    void addTextBox(object? sender, TextBox textBox)
    {
        currentCampagin.Boxes = currentCampagin.Boxes.Append(textBox).ToList();
    }

    void addWorldBuilding(object? sender, Worldbuilding worldbuilding)
    {
        currentCampagin.WorldbuildingId = worldbuilding.Id;
    }

    void AddSession(object? sender, Sessions session)
    {
        currentCampagin.SessionIds = currentCampagin.SessionIds.Append(session.Id).ToList();
    }

    void NotFound(List<string> notFound)
    {}
}
