@page "/newregion/{CurrentWorldBuildingId}/{CampaignId}"
@inject IMongoRepository<Region> MDBRegion
@inject IMongoRepository<Worldbuilding> MDBWorldBuilding
@inject NavigationManager navMan
@rendermode InteractiveServer

<h3>CreateRegion</h3>

<EditForm OnValidSubmit="submit" Model="region" FormName="create-region">
    <label for="title">Region Title:</label>
    <InputText id="title" @bind-Value="region.Name" />

    <button type="submit" class="btn btn-primary">Create Region</button>
</EditForm>

<CreateTextBox @ref="editTextBox" textTitle="Region Description:" hideMainTitle="true" />

@code 
{
    [Parameter]
    public string CurrentWorldBuildingId { get; set; }

    [Parameter]
    public string CampaignId { get; set; }

    Region region = new Region();

    private CreateTextBox? editTextBox;

    // private string title="";

    private async Task submit()
    {
        Worldbuilding currentWorldBuilding = await MDBWorldBuilding.GetByIdAsync(CurrentWorldBuildingId);
        if(currentWorldBuilding != null)
        {
            currentWorldBuilding.Regions ??= new List<Region>();
            currentWorldBuilding.Regions.Add(region);
        }
        // region.Name = title;
        region.WorldBuildingId = CurrentWorldBuildingId;
        await MDBRegion.InsertOneAsync(region);
        await MDBWorldBuilding.ReplaceOneAsync(currentWorldBuilding);
        navMan.NavigateTo($"/worldbuilding/{CurrentWorldBuildingId}/{CampaignId}");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && editTextBox != null)
        {
            editTextBox.EventBox += addTextBox;
        }
    }

    private void addTextBox(object? sender, TextBox textBox)
    {
        region.Description = textBox;
    }

}
