<EditForm FormName="NewEdit" OnValidSubmit="() => submit()" Model="textBox">
    <label for="Title">@mainTitle</label>
    <InputText id="Title" @bind-Value="textBox.Name"/>
    <br/>

    <label for="text">@textTitle</label>
    <InputTextArea  id="text" @bind-Value="textBox.Text"/>

    <button class="btn btn-primary" @onclick="() => submit()">Create Textbox</button>
</EditForm>

@code 
{
    [Parameter]
    public string mainTitle { get; set; } = "";
    [Parameter]
    public string textTitle { get; set; } = "";

    public event EventHandler<TextBox>? EventBox;

    TextBox textBox = new TextBox();

    private void submit()
    {
        EventBox?.Invoke(this, textBox);
    }
}
