@inject IMongoRepository<Region> MDBRegion
<h3>CreateRegion</h3>

<EditForm OnValidSubmit="() => submit()" Model="title">
    <label for="title">Region Title:</label>
    <InputText id="title" @bind-Value="title"/>

    <button type="submit" class="btn btn-primary">Create Region</button>
</EditForm>

<CreateTextBox @ref="editTextBox" textTitle="Region Description:" hideMainTitle="true" />

<hr/>
<CreateLocation @ref="editLocation"/>

@code 
{
    Region region = new Region();
    public event EventHandler<Region> EventRegion;

    private CreateLocation editLocation;
    private CreateTextBox editTextBox;

    private string title="";

    private async Task submit()
    {
        region.Name = title;
        EventRegion?.Invoke(this, region);
        await MDBRegion.InsertOneAsync(region);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && editTextBox != null)
        {
            editTextBox.EventBox += addTextBox;
        }
        if (firstRender && editLocation != null)
        {
            editLocation.EventLocation += addLocation;
        }
    }

    private void addTextBox(object? sender, TextBox textBox)
    {
        region.Description = textBox;
    }

    private void addLocation(object? sender, Location location)
    {
        region.Locations = region.Locations.Append(location).ToList();
    }

}
