@page "/newregion/{CurrentWorldBuildingId}"
@inject IMongoRepository<Region> MDBRegion
@inject IMongoRepository<Worldbuilding> MDBWorldBuilding
@inject NavigationManager navMan

<h3>CreateRegion</h3>

<EditForm OnValidSubmit="() => submit()" Model="title">
    <label for="title">Region Title:</label>
    <InputText id="title" @bind-Value="title"/>

    <button type="submit" class="btn btn-primary">Create Region</button>
</EditForm>

<CreateTextBox @ref="editTextBox" textTitle="Region Description:" hideMainTitle="true" />

<hr/>
<CreateLocation @ref="editLocation"/>

@code 
{
    [Parameter]
    public string CurrentWorldBuildingId { get; set; }

    Region region = new Region();

    private CreateLocation editLocation;
    private CreateTextBox editTextBox;

    private string title="";

    private async Task submit()
    {
        Worldbuilding currentWorldBuilding = await MDBWorldBuilding.GetByIdAsync(CurrentWorldBuildingId);
        if(currentWorldBuilding != null)
        {
            currentWorldBuilding.Regions.Append(region);
        }
        region.Name = title;
        region.WorldBuildingId = CurrentWorldBuildingId;
        await MDBRegion.InsertOneAsync(region);
        navMan.NavigateTo($"/worldbuilding/{CurrentWorldBuildingId}");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && editTextBox != null)
        {
            editTextBox.EventBox += addTextBox;
        }
    }

    private void addTextBox(object? sender, TextBox textBox)
    {
        region.Description = textBox;
    }

    private void addLocation(object? sender, Location location)
    {
        region.Locations = region.Locations.Append(location).ToList();
    }

}
